<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
    <style>
        .red {
            color: red;
        }

        .blue {
            color: blue;
        }
    </style>
</head>
<body>
    <div id="app">
        <div>
            <!-- This is the easiest greeting-->
            <h1>{{ greet('afternoon') }}</h1>

            <!-- This is simple link-->
            <a :href="link">Wtf</a>

            <!--  Here we subtract and add age-->
            <div>
                <h1>{{ age }}</h1>
                <button @click.once="add(1)">Add</button>
                <button v-on:click="sub(1)">Sub</button>
                <button @click="add(10)">Add 10 years</button>
                <button v-on:click="sub(10)">Sub 10 years</button>
            </div>

            <!-- This is a field with mousemove event-->
            <div id="canvas" v-on:mousemove="updateXY">{{ x }}, {{ y }}</div>

            <br>
            <!-- Here is my own func-->
            <div class="click-transition">
                <button @click="seeFunc" >Click</button>
                <transition name="fade">
                    <h1 v-if="see">{{ hi }}</h1>
                </transition>
            </div>

            <br>
            <!-- Here is href with prevent-->
            <a @click.prevent="clickHref" href="https://www.google.com">CLICKCAL</a>

            <br>
            <br>
            <!-- Data binding and viewing using keyboard events -->
            <div>
                <label>Name</label>
                <input type="text" aria-label="input" @keyup.enter="logName" v-model="name">
                <br>
                <span>{{ name }}</span>
                <br>
                <label>Age</label>
                <input type="text" aria-label="input" @keyup.enter="logAge" v-model="ageof">
                <br>
                <span>{{ ageof }}</span>
            </div>

            <br>
            <!-- Dynamic classes -->
            <div>
                <label>Dynamic classes</label>
                <!--        <div @click="available = !available" :class="{ available: available }">-->
                <!--            <span class="span">Rian</span>-->
                <!--        </div>-->
                <div>
                    <select v-model="color">
                        <option disabled value="">Please select one</option>
                        <option>red</option>
                        <option>blue</option>
                        <option>orange</option>
                    </select>
                    <input type="text" v-model="margin" placeholder="Margin">
                    <h1 :style="{ color: color, marginLeft: margin + 'px' }">name</h1>
                </div>
                <span>Age</span>
            </div>

            <!-- Conditionals -->
            <div>
                <h1>Conditionals</h1>
                <div class="click-transition">
                    <button @click="error = !error">Toggle error</button>
                    <button @click="success = !success">Toggle success</button>
                    <!--                    <p v-if="error">Error</p>-->
                    <!--                    <p v-else-if="success">Whoooo, success</p>-->
                    <transition name="fade">
                        <p v-show="error">Error</p>
                    </transition>
                    <transition name="fade">
                        <p v-show="success">Whoooo, success</p>
                    </transition>
                </div>
            </div>

            <!-- Working with arrays and loop v-for -->
            <div>
                <ul>
                    <li v-for="character in characters">{{ character }}</li>
                </ul>
                <ul>
                    <li v-for="(ninja,index) in ninjas">{{ index }}. Name: {{ ninja.name }} \ Age: {{ ninja.age }}</li>
                </ul>
                <template v-for="ninja in ninjas">
                    <div v-for="(val,key) in ninja">
                        <p>{{key}} - {{val}}</p>
                    </div>
                </template>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div id="vue-app">
        <greeting></greeting>
    </div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="app.js"></script>
</body>
</html>